* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
}
.no-scroll {
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    height: 104px;
    padding-left: 34px;
    border-bottom: 1px solid #D4D4D4;
}
.m-menu {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
}
.line {
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
    margin-left: 34px;
}
.search-input {
    background-image: url("../img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center left;
    border: none;
    padding-left: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;

}
.navigation {
    margin-right: 44px;
    margin-left: auto;

}
.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}
.button-group {
    display: flex;
    height: 100%;
}
.button {
    outline: none;

    height: 100%;
    cursor: pointer;
}
.sign-up {
    width: 172px;
    color: #5671F6;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: #fff;
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid #D4D4D4;
}
.login {
    width: 151px;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: #5671F6;
    padding-left: 50px;
    padding-right: 50px;
}
.mobile-buttons {
    display: none;
}
.m-menu-button,
.search-button {
    height: 28px;
    padding: 5px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}
.menu-line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #000;
    flex-basis: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 40px;
}
.container {
    max-width: 1130px;
    margin: auto;
}
.film {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D4D4D4;
}
.film-wrapper {
    display: flex;
}
.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.poster {
    border-radius: 5px 5px 0px 0px;
    width: 358px;
}
.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    color: #5470d7;
    font-weight: 400;
}

.trailer-button-icon {
    margin-right: 14px;
}
.film-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.film-subtitle {
    display: block;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
}
.film-description {
    font-size: 14px;
    line-height: 150%;
    width: 514px;
    color: #000000;
    margin-bottom: 50px;
}
.about-film {
    display: flex;
    margin-bottom: 50px;
}
.about-text {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}
.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}
.left-side {
    padding-right: 40px;
}
.rating {
    display: flex;
    align-items: center;
}
.rating-counter {
    padding: 34px 24px;
    border: 1px solid #5671F6;
    box-sizing: border-box;
    font-size: 26px;
    border-radius: 10px;
    margin-right: 28px;
    font-weight: bold;
    color: #778cd9;
}
.rating-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 12px;
}
.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}
.rating-text-bold {
    font-weight: bold;
}
.cast {
    padding-top: 70px;
    padding-bottom: 100px;
}
.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.section-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}
.section-title.active {
    color: #363636;
    font-weight: 900;
}
.tabs-content {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}
.tabs-content.visible {
    display: flex;
    visibility: visible;
}
.tab {
    cursor: pointer;
}
.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}
.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.name {
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    margin-top: 0;
    margin-bottom: 6px;

}
.en-name {
    color: #A5A5A5;
}
.news {
    background-color: #f3f3f3;
    padding-top: 70px;
    padding-bottom: 100px;
}
.section-news-title {
    font-weight: 900;
    color: #000000;
    margin-bottom: 65px;
}
.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-card {
    flex-basis: 23%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.news-date {
    font-size: 14px;
    line-height: 16px;
}
.news-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 14px;
}
.button-next {
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .card-image {
        width: 70px;
        height: 70px;
    }
    .header {
        height: 90px;
        padding-left: 20px;
    }
    .sign-up {
        padding-left: 20px;
        padding-right: 20px;
    }
    .search-input {
        margin-right: 20px;
    }
    .navigation-link {
        margin-right: 10px;
        font-size: 16px;

    }
    .line {
        margin-left: 20px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
    .navigation {
        display: none;
    }
    .search-input {
        margin-right: auto;
    }
    .film-title {
        font-size: 24px;
        line-height: 1.4;
    }
    .film-subtitle {
        margin-bottom: 20px;
    }
    .film-description {
        width: 340px;
    }
    .film-description,
    .about-film {
        margin-bottom: 30px;
    }
    .about-text-bold {
        display: block;
        margin-bottom: 10px;
    }
    .card-image {
        width: 100px;
        height: 100px;
    }
    .card {
        flex-basis: 50%;
    }
    .news-card {
        flex-basis: 48%;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .header {
        height: 80px;
    }
    .m-menu {
        display: none;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 0;
        top: 68px;
        right: 0;
        bottom: 0;
        height: calc(100% - 68px);
        background: #5671F6;
    }
    .m-menu.active {
        display: flex;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .button-group {
        height: auto;
        flex-direction: column;
        align-items: inherit;
    }
    .search-input {
        margin: 0;
        width: 260px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-image: none;
    }
    .navigation-link {
        color: #fff;
        margin-right: 0;
        margin-bottom: 18px;
    }
    .navigation-link:last-child {
        margin-bottom: 0;
    }
    .sign-up {
        background-color: transparent;
        color: #fff;
        border: none;
        margin-bottom: 30px;
    }
    .film {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .film-wrapper {
        flex-wrap: wrap;
    }
    .film-text {
        order:  -1;
        margin-bottom: 30px;
    }
    .cast {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .news {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .news-card {
        max-width: 90%;
    }
    .button-next {
        display: block;
    }
    .mobile-buttons {
        display: block;
        vertical-align: center;
        margin-left: auto;
    }
    /*.button-group {*/
    /*    display: none;*/
    /*}*/
    .line {
        display: none;
    }
    /*.search-input {*/
    /*    display: none;*/
    /*}*/
    .header {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .film-description {
        width: 340px;
    }
}
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
    .film-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }
    .film-subtitle {
        font-size: 14px;
        line-height: 16;
        margin-bottom: 26px;
    }
    .film-description {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 40px;
        width: 340px;
    }
    .about-film {
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .about-text-bold {
        display: inline-block;
    }
    .film-trailer, .poster {
        width: 100%;
    }
    .film-trailer {
        margin-bottom: 30px;
    }
    .film-text {
        order: 1;
        margin-bottom: 0;
    }
    .card {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .card-image {
        width: 60px;
        height: 60px;
    }
    .tabs {
        margin-bottom: 35px;
    }
    .cast {
        margin-bottom: 50px;
    }
    .news-card {
        flex-basis: 100%;

    }

}